.container {
    font-family: Gill, Helvetica, sans-serif;
    font-size: 12px;
    width: 90%;	
    margin-left: auto;
    margin-right: auto;       
}

tr.headall{
    background: none repeat scroll 0 0 #369808;
    border-bottom: 1px solid #00337E;
    border-right: 1px solid #00337E;
    border-top: 1px solid #00337E;
    border-left: 1px solid #00337E;
}

th.head {

    font-size: 14px;
    border-bottom: 1px solid #00337E;
    border-right: 1px solid #00337E;
    border-top: 1px solid #00337E;

    color: #FFFFFF;
    letter-spacing: 1px;
    padding: 6px 5px 12px;
    text-align: center;   

}
th.headinit {

    font-size: 14px;
    border-bottom: 1px solid #00337E;
    border-right: 1px solid #00337E;
    border-top: 1px solid #00337E;
    border-left: 1px solid #00337E;
    color: #FFFFFF;
    letter-spacing: 1px;
    padding: 6px 5px 12px;
    text-align: center;   

}

tr.class2{
    background: #fff;
    padding: 6px 6px 6px 12px;
    color: #000;
}


tr.class1 {

    background: #E4E4E4;
    color: #000;
}

th.item {

    border-bottom: 1px solid #00337E;
    border-right: 1px solid #00337E;
    padding-top:  8px;
    padding-bottom:  8px;

}

th.init {

    padding-top:  8px;
    padding-bottom:  8px;
    border-bottom: 1px solid #00337E;
    border-right: 1px solid #00337E;
    border-left: 1px solid #00337E;

}
.buscarButton{
    background-color: #F0F0F0;
    margin: 1px;
    font-size: 10px;
    border: 1px solid #B8B8B6;
    border-radius: 5px 5px 5px 5px;
    color: #444;
    font-weight: bold;
    cursor: pointer;    
    padding: 4px;
    text-transform: uppercase;
    vertical-align: middle;
    width: 140px;
}

.buscarButton:hover{
    color: #fff;
    background-color: #F3AB63;
    border:1px solid #C2E1EF;
    cursor: pointer;
    padding:4px;
}

