root { 
    display: block;
} 

#main {
    height: 100%;
    margin: auto;
    width: 99%;    
}
#content {  
    height: auto !important;
    margin-bottom: 5px;
    margin-top: 5px;
    min-height: 500px;
    padding: 10px;
    vertical-align: middle;
    width: auto;
}

.panelizquierdo
{
  border: 1px #EC690F solid;
  border-radius: 5px;
  width: 75%;  
  background-color: #fff;
  vertical-align: top;
  height: 100%; 
}    
.panelderecho{
  margin: 5px; 
  border: 1px #EC690F solid;
  border-radius: 5px;
  width: 25%;
  background-color: #fff;
  vertical-align: top;
  height: 100%
}