span.operator {
    position: absolute;
    left: -150px;
    right: 0;
    margin: auto;
}

hr{
    width: 12%;
    background-color:#000000;
}

label{
    font-family: cursive;
}

input{
    width: 30px;
    height: 30px;
    font-family: cursive;
    font-size: large;
    text-align: center;
    box-shadow: 3PX 3PX 2px #c1c1c1;
    border-color:#C1C1C1;
    outline: 0px;
}

#helper{
    position: relative;
    width: 2%;
    left: 46.5%;
    right: 46.5%;
    }

#buttons{
        align-items: center;
}

#answer1, #answer2, #answer3, #answer4 {
        width: 10%;
        color:white;
        font-size: medium;
        font-weight: bold;
        min-width: 130px;
        margin-left: 30px;
        margin-top: 20px;
        margin-right: 25px;
 }

 #continue{
    margin-top: 3%;
    margin-bottom: 7%;
}