#background {
  background-image: url("images/background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 95% 100%;
  margin-top: 2%;
}

h1, h2 {
  font-family: cursive;
  text-align: center;
}

h6 {
  pointer-events: none;
}

#statement {
  margin-bottom: 5%;
}

#iconTime {
  position: absolute;
  top: 12%;
  right: 15%;
  text-align: right;
  width: 6%;
  height: 10%;
}

#answer1, #answer2, #answer3, #answer4 {
  width: 10%;
  color: white;
  font-size: medium;
  font-weight: bold;
  min-width: 130px;
  margin-left: 30px;
  margin-top: 20px;
  margin-right: 25px;
  align-items: center;
}

#elements {
  position: relative;
  margin-top: 5%;
  width: 70%;
  height: 30%;
  margin-left: 16%;
}

#element1 {
  width: 50%;
  height: 50%;
  margin-bottom: 5%;
  margin-left: 5%;
}

#element1 {
  width: 50%;
  height: 50%;
  margin-bottom: 1%;
  margin-left: 2%;
}

#elements {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

#circleElements {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
  margin-top: 5%;
  margin-left: 10%;
  width: 150px;
  pointer-events: none;
}

#information {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

#item {
  position: absolute;
  margin-bottom: 10%;
}

h4 {
  font-size: xx-small;
  font-family: cursive;
}

#buttons, #finish {
  text-align: center;
  margin-top: 3%;
}

#continue {
  margin-bottom: 5%;
  margin-top: 1%;
}

#circle1 {
  background-color: #50A4CD;
  border-color: #000000;
  padding: 4%;
  margin-right: 5%;
  border-radius: 50%;
  outline: none;
}

#circle2 {
  background-color: #50A4CD;
  border-color: #000000;
  padding: 4%;
  margin-left: 5%;
  border-radius: 50%;
  outline: none;
}

#inputs {
  background-color: #F7FF19;
  position: relative;
  margin-top: 1%;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 16%;
  border-radius: 5%;
}

#inputUno, #inputDos {
  margin-top: 20%;
  margin-left: 10%;
}

#col1, #col2 {
  margin-top: 15%;
}

#operator {
  text-align: center;
  margin-top: -10%;
}

#equality {
  font-size: 600%;
}