#background {
  background-image: url("images/background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 95% 100%;
  margin-top: 2%;
}

h1, h2 {
  font-family: cursive;
  text-align: center;
}

#statement {
  margin-bottom: 5%;
}

#iconTime {
  position: absolute;
  top: 12%;
  right: 15%;
  text-align: right;
  width: 6%;
  height: 10%;
}

#answer1, #answer2, #answer3, #answer4 {
  width: 10%;
  color: white;
  font-size: medium;
  font-weight: bold;
  min-width: 130px;
  margin-left: 30px;
  margin-top: 20px;
  margin-right: 25px;
}

#elements {
  position: relative;
  margin-top: 5%;
  width: 70%;
  height: 30%;
  margin-left: 16%;
}

#element1 {
  width: 50%;
  height: 50%;
  margin-bottom: 5%;
  margin-left: 5%;
}

#elements {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

#information {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  pointer-events: none;
}

#item {
  position: absolute;
  margin-bottom: 10%;
}

h4 {
  font-size: xx-small;
  font-family: cursive;
}

#buttons, #finish {
  text-align: center;
  margin-top: 3%;
}

#continue {
  margin-bottom: 5%;
  margin-top: 3%;
}

#circle1 {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 8%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  margin-left: 20%;
  border-radius: 50%;
}